<!DOCTYPE html>
<html lang="en">

<head>
    <title>Project Manajegement System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link href="../stylesheets/style.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/typography.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="/projects" >Project Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse align-middle" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= path=='/projects' ? ' active' : '' %>">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item <%= path=='/profile' ? ' active' : '' %>">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item <%= path=='/users' ? ' active' : '' %>">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0"> -->
                <button class="btn btn-outline-white my-2 my-sm-0" type="submit" href="logout">
                    <a class="nav-link" href="/logout">Logout</a>
                </button>
            
        </div>
    </nav>