<nav class="navbar navbar-expand navbar-light bg-info fixed-top" style="height: 8vh;">
  <a class="navbar-brand" style="font-size: 2.5vh !important" href="/projects">Project Management System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse align-middle" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= path=='/projects' ? ' active' : '' %>">
        <a class="nav-link mb-0 my-4" style="font-size: 3vh" href="/projects">Projects</a>
      </li>
      <li class="nav-item <%= path=='/profile' ? ' active' : '' %>">
        <a class="nav-link mb-0 my-4" style="font-size: 3vh" href="/profile">Profile</a>
      </li>
      <% if(isAdmin) { %>
      <li class="nav-item <%= path=='/users' ? ' active' : '' %>">
        <a class="nav-link mb-0 my-4" style="font-size: 3vh" href="/users">Users</a>
      </li>
      <% } %>
    </ul>
    <button class="btn btn-light" style="font-size: large;">
      <a href="/logout">
        <i class="fa fa-sign-out" aria-hidden="true"></i> LOGOUT</a>
    </button>
  </div>
</nav>