<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-96x96.png">
  <title>Login</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/floating-labels/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <link href="stylesheets/floating-labels.css" rel="stylesheet">
  <link rel="stylesheet" href="stylesheets/typography.css">
  <link rel="stylesheet" href="stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/png" href="../public/images/icons/">

  <style>
    body {
      display: -ms-flexbox;
      display: -webkit-box;
      display: flex;
      -ms-flex-align: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #f5f5f5;
    }

    .font-size-5 {
      font-size: 1.5rem !important;
    }
  </style>

</head>

<body>

  <form class="form-signin" action="/login" method="POST">
    <div class="text-center mb-4">
      <img class="mb-4" src="images/icons/favicon-96x96.png" alt="">
      <h5 class="mb-4">Project Management System</h5>
    </div>

    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
    <input type="email" id="email" class="form-control" name="email" placeholder="Email address" required autofocus>

    <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
    <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
    
    <input type="hidden" value="<%=latestUrl%>" name="latestUrl">
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <div class="text-left btn-block" style="text-align: left;">
      <a href="#" class="btn btn-info btn-block" title="Account" data-toggle="popover" data-placement="bottom"
        data-content="Admin Privilege = admin@rubicamp.com , password = 123 || User = user@rubicamp.com , password = 123">Access
        Account</a>
    </div>
    <p class="mt-5 mb-3 text-muted text-center"><a style="font-size: 2.5vh;" href="https://github.com/safarudinyoga"
        target="_blank">&copy; Github</a> &copy; Safarudin Alwi Prayogo </p>
  </form>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script>
    $(document).ready(function () {
      $('[data-toggle="popover"]').popover();
      $('[data-toggle="popover"]').click(() => {
        $('.popover').addClass("font-size-5");
      })
    });
  </script>
  <%_ if (error) { -%>
  <script type="text/javascript">
    $(document).ready(() => {
      let error = '<%=error%>';
      Swal.fire({
        title: error,
        type: "error",
        timer: 2000
      })
    })
  </script>
  <%_ } -%>
</body>

</html>