<% include ../partials/header%>
<% include ../partials/sidebar%>

<div class="container-fluid">
    <div class="card border-light mx-1">
        <h3 class="card-header bg-transparent display-3">Projects</h3>
        <div class="card-body">
            <div class="card border-light">
                <h4 class="card-title bg-transparent display-4">Filters</h4>
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer%>